.col-md-9 {
    background: #bdbdbd;
    height: auto;
    width: 70%;
    padding-top: 25px;
}

.card {
    display: flex; 
    flex-direction: column; 
    border-radius: 5px  5px 5px 5px;
    width: 220px;
    
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);
    overflow: hidden; 
    
    border-style: solid;
    border-width: 2px;  
    background-color: #ffffff; 
    border-color: #ffffff;
}
.card-body{
    background-color: #a3a3a3;
    flex-grow: 1;
    padding: 24px; 
}

.card-title{
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0px; 
    padding: 0px; 
     
}
.card-text{
    line-height: 1.4;
    margin: 10px 0px 0px 0px; 
    font-size: 17px;
    color: #000000;
    
}
