* {
  box-sizing: border-box;
}

html, body{
  height: 100%;
}
body { 
			background-image: url(https://github.com/FrejaLD/index/blob/main/darkblue.png?raw=true) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
  
}


#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}


div, body{
  margin: 0;
  padding: 0;
  font-family: exo, sans-serif;
}

.container {
    background: #272d35;
    border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  padding-top: 15px !important;
    padding-bottom: 30px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.banner {
    color: #fff;
    background: #272d35;
    margin:auto;
    padding: 35px;
    width: 80%;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

/* HTML: <div class="ribbon">Your text content</div> */
.ribbon3 {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
    
}
.ribbon3 {
  --s: 1.8em; /* the ribbon size */
  --d: .8em;  /* the depth */
  --c: .8em;  /* the cutout part */
  
  padding: 0 calc(var(--s) + .5em) var(--d);
  line-height: 1.8;
  background:
    conic-gradient(at left  var(--s) bottom var(--d),
     #0000 25%,#0008 0 37.5%,#0004 0) 0   /50% 100% no-repeat,
    conic-gradient(at right var(--s) bottom var(--d),
     #0004 62.5%,#0008 0 75%,#0000 0) 100%/50% 100% no-repeat;
  clip-path: polygon(0 var(--d), var(--s) var(--d),var(--s) 0,calc(100% - var(--s)) 0,calc(100% - var(--s)) var(--d),100% var(--d),calc(100% - var(--c)) calc(50% + var(--d)/2),100% 100%,calc(100% - var(--s) - var(--d)) 100%,calc(100% - var(--s) - var(--d)) calc(100% - var(--d)),calc(var(--s) + var(--d)) calc(100% - var(--d)),calc(var(--s) + var(--d)) 100%,0 100%,var(--c) calc(50% + var(--d)/2));
  background-color: #9f7788; /* the main color */
  width: 87.7%;
}




@import url(https://fonts.googleapis.com/css?family=Lato);

*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/*| Navigation |*/


nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
    height: 72px;
  background: #fff0;
    
  border: 1px solid rgba(0,0,0,.1);
    z-index: 999;
}

  nav ul{
      background: #191c22;
    list-style: none;
    display: flex;
  justify-content: center;
  align-items: center;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
   margin-bottom: 100px;
  }
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
        
    }

    nav ul li:hover > ul{display: block;}
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    nav ul li:hover,
nav ul li a:hover{
      background: #9f7788;
    font-size: 13px;
    transition: .2s;
    }

      nav ul li a{
        display: block; 
        padding: 30px 20px;
        color: #fff; 
        font-size: 13px;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
      }

      nav ul ul{
        display: none;
        background: #454c55;
        position: absolute; 
        width: 10%;
          left: 42.7%; 
        top: 100%;
        box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.1);
      }

        nav ul ul li{float: none; position: relative;}
          nav ul ul li a {
            padding: 15px 30px; 
            border-bottom: 1px solid rgba(0,0,0,.05);
          }
          nav ul ul ul {
            position: absolute; 
            left: 100%; 
            top:0;
          }	


h1 {
    font-size: 13px;
    color: #fff;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 2px;
    margin-top: 15px;
}

h2 {
    margin-top: -73px;
    padding-left: 410px;
}

h4 {
    background: #15121200;
    letter-spacing: 2px;
    font-size: 16px;
    color: #e6d9de;
    height: 40px;
  text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    border-top: groove 2px #000;
}

a {
  color: #000;
  font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 0.4px 0px 1px #fff;
}

a:hover {
color: #000000e0;
  font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 0.4px 0px 1px #fff;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 32%;
  padding: 0 10px;
     z-index: 1;
}

.row {
 display: flex;
  justify-content: center;
  align-items: center;
    margin-bottom: -10px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 0px;
  text-align: center;
  background-color: #454c55;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border: groove 2px #000;
}

.code {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 0px;
  text-align: left;
  background-color: #f1f1f1;
    border-radius: 5px;
    margin-top: 15px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card-img {
   background-size: cover;
   height: 220px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
    background: #272d35;
    color: #d7d4d4;
    width: 95%;
    cursor: text;
    resize: none;
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 1px #999999;
}
